*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.masthead {
  position: relative;
  background-color: #343a40;
  background: url("/src/img/background-devlopment.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: white;
}
.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.masthead h1 {
  font-size: 8rem;
}

.masthead p {
  font-size: 1.3rem;
}

.navbar-toggler {
  right: 10px;
  top: 8px;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .masthead h1 {
    font-size: 4rem;
  }
  
  .masthead p {
    font-size: 1rem;
  }
}
